<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BabsonOlinGraphProgram</title>
	<script type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
    <script type="text/javascript", src="{{ url_for('static', filename='javascripts/UndoRedo.js') }}"></script>
    <script type="text/javascript", src="{{ url_for('static', filename='javascripts/graph.js') }}"></script>
    <script type="text/javascript", src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-3", id="sidebar">
                <div class="btn-group-vertical tools" role="group" aria-label="..." data-toggle="buttons">
                    <label class="btn btn-default active" data-value="select" id="select-tool">
                        <input type="radio" name="tools" autocomplete="off"> Select
                    </label>
                    <label class="btn btn-default" data-value="vertex" id="vertex-tool">
                        <input type="radio" name="tools" autocomplete="off"> Vertex
                    </label>
                    <label class="btn btn-default" data-value="edge" id="edge-tool">
                        <input type="radio" name="tools" autocomplete="off"> Edge
                    </label>
                    <label class="btn btn-default" data-value="label" id="label-tool">
                        <input type="radio" name="tools" autocomplete="off"> Label
                    </label>
                </div>
                <div class="btn-group-vertical interactions" role="group" aria-label="...">
                    <button class="btn btn-default" id="delete-selected"> Delete Selected </button>
                    <button class="btn btn-default inline" id="complete-labeling">
                        <div class="input-group">
                            <span class="label-bound-wrapper">
                                <input type="number" class="label-bound" id="label-min" min="0" max="99" value="0"> </input>
                            </span>
                            <span class="middle-button"> Complete Labeling </span>
                            <span class="label-bound-wrapper">
                                <input type="number" class="label-bound" id="label-max" min="0" max="99" value="99"> </input>
                            </span>
                        </div>
                    </button>
                    <button class="btn btn-default" id="save-image"> Download Image </button>
                    <button class="btn btn-default" id="save-data"> Download Graph </button>
                    <span class="btn btn-default btn-file"> Upload Graph 
                        <input id="load-data" type="file">
                    </span>
                </div>
            </div>
            <div class="col-md-9 col-xs-7" id="viz">
            </div>
            <div class="col-md-1 col-xs-2", id="rightbar">
                <div class="btn-group-vertical interactions" role="group" aria-label="...">
                    <button class="btn btn-default" id="undo"> Undo </button>
                    <button class="btn btn-default" id="redo"> Redo </button>
                    <button class="btn btn-default" id="copy"> Copy </button>
                    <button class="btn btn-default" id="paste"> Paste </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>